<%- include('includes/header') %>

        <!-- Start Portfolio Area -->
        <div class="rn-portfolio-area rn-section-gap section-separator" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle">Visit my portfolio and keep your feedback</span>
                            <h2 class="title">My Repository</h2>
                        </div>
                    </div>
                </div>

                <div class="row row--25 mt--10 mt_md--10 mt_sm--10">
                    
<!-- Start Single Portfolio -->
<div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
    <div class="rn-portfolio">
        <div class="inner">
            <div class="thumbnail">
                <a href="https://github.com/errishabhsrivastava/Student-Management-System">
                    <img src="https://user-images.githubusercontent.com/117577787/207143086-1790fcf4-92bd-4ce4-9b0a-4d9f1d944e6f.png" alt="Personal Portfolio Images">
                </a>
            </div>
            <div class="content">
                <div class="category-info">
                    <div class="category-list">
                        <a href="https://github.com/errishabhsrivastava/Student-Management-System">Student Management System</a>
                    </div>
                    <div class="meta">
                        <span><a href=""><i class="feather-heart"></i></a>
                            60</span>
                    </div>
                </div>
                <h4 class="title"><a href="https://github.com/errishabhsrivastava/Student-Management-System">In This Software We can Manage Student records and result Details very easily.<i
                            class="feather-arrow-up-right"></i></a></h4>
            </div>
        </div>
    </div>
</div>

<!-- Start Single Portfolio -->
<div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
    <div class="rn-portfolio">
        <div class="inner">
            <div class="thumbnail">
                <a href="https://github.com/errishabhsrivastava/Zest-Management-Portal">
                    <img src="https://user-images.githubusercontent.com/117577787/222942996-90536f1d-60dc-4f5d-9254-cbc8ba5a6d35.png" alt="Personal Portfolio Images">
                </a>
            </div>
            <div class="content">
                <div class="category-info">
                    <div class="category-list">
                        <a href="https://github.com/errishabhsrivastava/Zest-Management-Portal">Zest Management Portal</a>
                    </div>
                    <div class="meta">
                        <span><a href=""><i class="feather-heart"></i></a>
                            70</span>
                    </div>
                </div>
                <h4 class="title"><a href="https://github.com/errishabhsrivastava/Zest-Management-Portal">This portal is designed to manage the various events and activities that take place during Zest 2022<i
                            class="feather-arrow-up-right"></i></a></h4>
            </div>
        </div>
    </div>
</div>
<!-- Start Single Portfolio -->
<div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
    <div class="rn-portfolio">
        <div class="inner">
            <div class="thumbnail">
                <a href="https://github.com/errishabhsrivastava/Techutsav">
                    <img src="https://user-images.githubusercontent.com/117577787/206902975-0d58da68-04d4-4a89-89fb-143eeb992ec0.png" alt="Personal Portfolio Images">
                </a>
            </div>
            <div class="content">
                <div class="category-info">
                    <div class="category-list">
                        <a href="https://github.com/errishabhsrivastava/Techutsav">Event Management Portal - Techutsav</a>
                    </div>
                    <div class="meta">
                        <span><a href=""><i class="feather-heart"></i></a>
                            60</span>
                    </div>
                </div>
                <h4 class="title"><a href="https://github.com/errishabhsrivastava/Techutsav">This portal is designed to manage the various events and venue activities that take place during Any Event and it also give Report<i
                            class="feather-arrow-up-right"></i></a></h4>
            </div>
        </div>
    </div>
</div>
<div class="mt-5 justify-content-end text-end">
   <a href="https://github.com/errishabhsrivastava/"> <span >Visit My Github Profile to View More <i class="feather-arrow-right"></i></span></a>
</div>

                </div>
            </div>
        </div>
        <!-- End portfolio Area -->


<%- include('includes/footer') %>